[user]
    email = pierrick.koch@gmail.com
    name = Pierrick Koch
[alias]
    fa = fetch --all
    fu = fetch upstream
    prum = pull --rebase upstream master
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lbr = log --oneline --abbrev-commit --branches=* --graph --decorate
    who = shortlog -s --
[color]
    ui = auto
[core]
    editor = vim

